.Exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  color: white;
  border-radius: 15px;
  background-color: rgba(250, 161, 52);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.Exercise-Label {
  display: grid;
  grid-template-columns: 35% 15% 10% 15% 5%;
  align-items: baseline;
  justify-content: space-evenly;
  padding-inline: 3%;
  margin-inline: 2%;
}

.Exercise-Card {
  background-color: rgba(255, 195, 122, 0.842);
  border-radius: 20px;
  margin-inline: 2.5%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}
.Exercise-Info {
  display: grid;
  grid-template-columns: 35% 15% 11% 15%;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  border-radius: 20px;
  padding-inline: 3% 0%;
  padding-bottom: 1%;
}

.Exercise-Item {
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  padding-right: 5%;
}

.RpeButton select {
  font-size: calc(5px + 1.5vmin);
  font-weight: bold;
  border-radius: 9px;
  background-color: rgba(250, 161, 52);
  color: white;
  border-style: hidden;
}

.RpeButton option {
  background-color: white;
  color: black;
}

.Weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Delete button {
  cursor: pointer;
  border-style: hidden;
  background-color: transparent;
  border-radius: 100%;
  color: white;
  font-size: 5vmin;
  padding-inline: 0%;
  padding-top: 2vh;
}

.Notes {
  font-size: calc(5px + 1.5vmin);
  font-weight: 450;
}

.Notes button {
  background-color: transparent;
  border-style: hidden;
  color: white;
  font-size: 5vmin;
  padding: 0%;
}

button.active {
  transform-origin: 0% 40%;
  transform: rotateX(180deg);
}
