.InputFields {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.first-row {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1%;
}

.second-row {
  display: grid;
  grid-template-columns: 20% 40% 30%;
  margin: 1%;
  gap: 2vw;
}

.NewExercise-movement {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-inline: 2vw;
}

.NewExercise-scheme {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-inline: 2vw;
}

.NewExercise-rpe {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-inline: 2vw;
}

.NewExercise-weight {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-inline: 2vw;
}

.NewExercise-visualize {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-inline: 2vw;
}

.NewExercise-movement input {
  border-radius: 8px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-color: white;
  border-style: hidden;
  font-size: calc(5px + 1.5vmin);
  height: 2vh;
}

.NewExercise-scheme input {
  border-radius: 8px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-color: white;
  border-style: hidden;
  font-size: calc(5px + 1.5vmin);
  height: 2vh;
}

.NewExercise-rpe select {
  font-size: calc(5px + 1.5vmin);
  border-radius: 9px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-style: hidden;
  height: 2vh;
}

.NewExercise-rpe option {
  background-color: white;
  color: black;
}

.NewExercise-weight input {
  border-radius: 8px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-color: white;
  border-style: hidden;
  font-size: calc(5px + 1.5vmin);
  height: 2vh;
}

.NewExercise-notes {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.NewExercise-notes textarea {
  border-radius: 8px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-color: white;
  border-style: hidden;
  font-size: calc(5px + 2vmin);
  margin-inline: 2.6vw;
  height: 8vh;
}
.NewExercise-add button {
  border-radius: 8px;
  font-size: larger;
  border-radius: 8px;
  background-color: rgb(250, 161, 52);
  color: white;
  border-style: hidden;
  font-size: calc(5px + 3vmin);
  font-weight: 600;
  margin-bottom: 2%;
  cursor: pointer;
}
