.BodyweightCell input {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: black;
  border-radius: 15px;
  border-style: hidden;
}

.BodyweightCell :placeholder-shown {
font-weight: 500;
}