.Exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  color: white;
  margin: 3%;
  border-radius: 15px;
  background-color: rgba(250, 161, 52, 0.616);
}

.Exercise-Label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 3%;
  margin-inline: 2%;
}

.Exercise-Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(250, 161, 52);
  border-radius: 20px;
  padding-inline: 3%;
  margin-inline: 2%;
  margin-bottom: 1.5%;
}


.Movement {
  width: 30%;
}

.Scheme {
  width: 10%;
}

.RpeDropdown {
  width: 6%;
}

.Weight {
  width: 10%;
}
